.PasswordReset  {
    margin-top: 2rem;
    padding: 1rem;
  }

.PasswordReset .form-row {
     display: block }

     .PasswordReset form {
        max-width: 24rem;
        margin: 5rem auto;
     }

     .PasswordReset form button {
 margin-top: 1rem;
    }